.navbar {
  background-color: #fff;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  z-index: 1;
  width: 100%;
  box-shadow: rgb(0 0 0 / 12%) 0 1px 3px;
}

.bar {
  display: none;
  font-size: 30px;
  cursor: pointer;
}
.navItem ul {
  display: flex;
  gap: 3.5rem;
  align-items: center;
}
.navItem ul li a {
  margin: 0;
  text-transform: capitalize;
  color: #3a0088;
  font-weight: 700;
  font-size: 17px;
  transition: var(--transition);
}

.close {
  display: none;
  cursor: pointer;
}

.dropdown {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  position: relative;
  cursor: pointer;
}
.dropdown svg {
  font-size: 15px;
  color: #3a0088;
}
ul.submenu {
  position: absolute;
  top: 250%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  background-color: rgba(255, 255, 255, 0.9);
  width: 220px;
  padding: 1.5rem;
  box-shadow: 1px 1px 30px rgb(0 0 0 / 6%);
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
  z-index: 11;
  gap: 1.5rem !important;
}
.dropdown:hover .submenu {
  opacity: 1;
  visibility: visible;
}
ul.submenu li a {
  font-weight: 400;
  font-size: 14px;
}

@media (max-width: 1080px) {
  .navItem {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
  }
  .show {
    opacity: 1;
    visibility: visible;
  }

  .bar {
    display: block;
  }
  .close {
    display: block;
    color: #fff;
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .navItem ul {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 2rem;
    align-items: center;
    background-color: #222;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    z-index: 999999999;
    gap: 1.5rem;
  }
  .navItem ul li a {
    color: #fff;
    margin: 0;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: var(--spacing);
  }
}
